

<div class="col-12">
    <div class="alert alert-success mt-5 text-center" role="alert">
        Bye {{username}}
    </div>
</div>


<script>
    setTimeout(function () {
        window.location = "/login";
    }, 2000)
</script>